# Ignore default executable file
a.out
# Ignore any compilated file
*.o
# Ignore any file file that contain test
*test*
# Ignore .vscode folder
.vscode
# Ignore .obsidian folder
.obsidian
# Ignore Subrepo
zz_eu_aceito_lisboa_Project/
SH00/
SH01/
C00/
C01/
C02/
C03/
C04/
C05/
C06/
C07/
C08/
C09/





# Ignored files can be tested this way
# git ls-files --others --ignored --exclude-standard~